html, body {
    height: 100vh;
    margin: 0;
}

body {
    background-color: aliceblue;
}

h3 {
    text-align: center;
    padding: 5px;
    margin: 5px 0 0 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    transform: translateY(25%);
}

.game-container {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.bot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 98px;
    width: 200px;
    border-bottom: 1px solid black;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height:98px;
    width: 200px;
    border-top: 1px solid black;
} 

.square {
    background-color: dodgerblue;
    height: 40px;
    width: 40px;
    border: 2px solid black;
}

.notification-container {
    background-color: darkseagreen;
    overflow: scroll;
    height: 150px;
    width: 200px;
    margin-top: 5px;
}